<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />
                <binding name="BasicHttpBinding_IService12" />
                <binding name="BasicHttpBinding_IService13" />
                <binding name="BasicHttpBinding_IService14" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56977/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:56977/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference2.IService1"
                name="BasicHttpBinding_IService11" />
            <endpoint address="http://localhost:56977/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService12" contract="ServiceReference3.IService1"
                name="BasicHttpBinding_IService12" />
            <endpoint address="http://localhost:56977/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService13" contract="ServiceReference4.IService1"
                name="BasicHttpBinding_IService13" />
            <endpoint address="http://localhost:56977/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService14" contract="ServiceReference5.IService1"
                name="BasicHttpBinding_IService14" />
        </client>
    </system.serviceModel>
</configuration>